@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins&family=Teko:wght@300..700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  

  .movie-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    padding: 10px 10px;
  }
  
  .movie {
    /* background-color: white; */
    /* padding: 20px; */
    height: max-content;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 1200px) {
    .container {
      padding: 50px;
    }
    .movie-wrapper {
      padding: 50px;
    }
    .movie h2 {
        font-size: 15px;
    }
    .movie p {
        font-size: 10px;
    }
    .movie .rating {
        font-size: 8px;
        padding: 3px 5px;
    }
    .read-more {
        font-size: 10px;
    }
  }

  @media (max-width: 800px) {
    .movie-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 50px 50px;
      }

  }
  
  @media (max-width: 600px) {
    .movie-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 50px 50px;
      }

  
    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .search-input {
      width: 200px;
    }
  
    .filters {
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }
  
    #sort-by,
    #genre {
      padding: 5px 8px;
      font-size: 10px;
    }
  }

  @media (max-width: 450px) {
    .movie-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 20px 20px;
      }

  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .search-input {
      width: 120px;
    }
   .search-button {
    font-size: 12px;
   }
    .filters {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
      gap: 7px;
      margin-bottom: 10px;
    }
  
    #sort-by,
    #genre {
      padding: 5px 8px;
      font-size: 10px;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
  }
  
  .pagination-button {
    background-color: #ff4500; /* Bright orange */
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .pagination-button:hover {
    background-color: #ff6347; /* Lighter orange */
    transform: scale(1.05);
  }
  
  .pagination-button:disabled {
    background-color: #ccc; /* Greyed out */
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

.tvmovie{
  display: flex;
  font-size: large;
  margin-top: -5px;
}


.cardmovie {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: black;
  color: white;
  border: 3px solid white;
  text-align: center;
  min-width: 250px;
  height: 51vh;
}

.cardmovie:hover {
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.5);
  border-color: aqua;
}

.quality {
  font-size: 0.9rem;
  /* color: limegreen; */
  margin-top: -4px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rating {
  font-size: 0.9rem;
  margin-top: 4px;
  color: gold;
}
